# Zig Specific
zig-cache/
.zig-cache/
zig-out/

# IDE / Editor Junk
.vscode/
*.tmp
*.log

# Distribution
bin/
tmp/
temp/

# System / misc
.DS_Store

# Local databases
*.db
*.sqlite
*.wal
*.duckdb

logs/
coverage-out/
